resources/R.framework/*.*
resources/R-Portable/*.*
resources/R-Linux/*.*
resources/*
data113
electron/resources/R.framework/*.*
electron/resources/R-Portable/*.**
electron/resources/R-Linux/*.**
electron/data113
data113
electron/node_modules/*
electron/electron/*
electron/dist/*
electron/build/*
.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
data107
.Rbuildignore
.DS_Store
Thumbs.db
*.rds
*.Rproj
*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.log
*.aux
*.out
