.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
data107
electron/data**
electron/resources/R*
electron/dist**
electron/node_modules
electron/out
electron/build
electron/.vscode
.DS_Store
.vscode
*.log
*.rds
*.sqlite
*.sqlite-journal
